<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
    <package name="domain"/>
    </typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver"
					value="oracle.jdbc.driver.OracleDriver" />
				<property name="url"
					value="jdbc:oracle:thin:@10.10.10.95:1521:XE" />
				<property name="username" value="kk" />
				<property name="password" value="12345678" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="mapper/understandMapper.xml" />
		<mapper resource="mapper/boardMapper.xml" />
		<mapper resource="mapper/memberMapper.xml"/>
	</mappers>


</configuration>