<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.memberMapper">


	<!-- login -->
	<select id="login" resultType="MemberVO">

		select id, password, mno
		from tbl_qmember
		where id = #{id}

	</select>




</mapper>